# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
venv/
ENV/
env/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
htmlcov/

# Jupyter
.ipynb_checkpoints/
.profile
*.nbconvert.ipynb

# PyCharm / VSCode
.idea/
.vscode/
*.code-workspace

# OS files
.DS_Store
Thumbs.db

# Local configs
*.env
*.local
.env.*